:root {
  font: 16px / 1 Roboto;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.bg {
  /* insert image */
  background-image: url(./images/space.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* fix image size */
}

/* headshot */
.bighead {
  width: 300px;
  max-width: 45%;
  margin: 12rem 0 0 7rem;
  border-radius: 6px;
}

/* bubble text manipulator */
.textbox {
  background-color: antiquewhite;
  opacity: 0.5;
  border-radius: 6px;
  margin-left: 1rem;
  font-size: 1.9rem;
  line-height: 0.2;
}

/* layout for img/speech bubble */

.container1 {
  display: flex;
  align-items: center;
}

div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container2 ul li img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
