:root {
  font: 16px / 1 Roboto;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.bg {
  /* insert image */
  background-image: url(./images/space.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* fix image size */
}

/* headshot */
.bighead {
  width: 250px;
  max-width: 45%;
  margin-top: 8rem;
  margin-left: 10rem;
  margin-bottom: 5rem;
  border-radius: 6px;
}

/* bubble text manipulator */
.textbox {
  background-color: antiquewhite;
  opacity: 0.5;
  border-radius: 6px;
  margin-left: 1rem;
  font-size: 1.9rem;
  line-height: 0.2;
}

/* layout for img/speech bubble */

.container1 {
  display: flex;
  align-items: center;
}

/* FOUR IMAGES */
div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  padding: 1rem;
  opacity: 0.6;
}

.container2 ul li img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  background-repeat: no-repeat;
}

/* REACT IMAGE */
.border_1 {
  margin-bottom: none;
  background-color: #1e1a28;
}

nav {
  color: white;
  text-align: left;
  border: 1px solid white;
  background-color: white;
  margin-right: 12.5rem;
  margin-left: 12.5rem;
  color: black;
}
article > h1 {
  font-size: 2rem;
}
nav > h1 {
  font-weight: bold;
}
header.react {
  height: 5rem;
  background-image: url(./images/react.png);
  background-position: center;
}
.h2 {
  font-size: 0.75rem;
}
.header_img {
  display: flex;
  align-items: baseline;
}
.header-img {
  padding: 0.5rem;
  font-size: 1.1rem;
}
.lorem {
  padding: 0.5rem;
  font-size: 1.5rem;
}

/* CODE IMAGE */
.image_border {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.reading {
  text-decoration: underline;
  font-weight: bold;
  color: white;
  text-align: right;
  justify-content: flex-end;
  padding: 0.5rem;
  border: 1px solid blue;
  background-color: blue;
  height: 1rem;
  width: 8rem;
  border-radius: 10%;
}

header.code {
  height: 5rem;
  background-image: url(./images/code.png);
  background-position: center;
}

.foot {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #fffefe;
}

.logo {
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.twitter {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 2rem;
}

.Copyright {
  text-align: center;
  color: white;
}

@media {
  max-width: 700px;
}
